* {
    box-sizing: border-box;
    font-family: 'Playfair Display', serif;
}
 
.hero {
    background:
        linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
        url("../IMAGE/banner.png");
    color: white;
    background-size: cover;
    background-position: center;
    position: relative;
}

.hero-text h1 {
    font-size: 55px;
    margin-bottom: 10px;
}

.hero-text p {
    font-size: 20px;
}

.box-wrapper {
    display: flex;
    justify-content: center;
}

.booking-box {
    width: 70%;
    background: white;
    padding: 25px 40px;
    border-radius: 8px;
    display: flex;
    justify-content: space-between;
    box-shadow: 0 10px 40px rgba(0, 0, 0, 0.15);
    transform: translateY(-50%);
    position: absolute;

}

.booking-form {
    display: flex;
    gap: 15px;
    align-items: center;
    flex-wrap: wrap;
}

.booking-form input,
.booking-form select {
    padding: 12px 14px;
    border: 2px solid #e0a61f;
    border-radius: 8px;
    font-size: 14px;
    color: black;
}

.booking-form button {
    padding: 12px 24px;
    border: 2px solid #e0a61f;
    border-radius: 8px;
    color: rgb(0, 0, 0);
    font-weight: 600;
    background-color: white;
}

.booking-form button:hover {
    background: #e0a61f;
    border: 2px solid #e0a61f;
    color: white;
    transition: 0.3s;
}

section {
    padding: 80px;
    text-align: center;
    scroll-margin-top: 150px;
    /*khi click vào nav, section sẽ không bị che bởi header */
}
.right {
    display: flex;
    gap: 10px;
    flex: 2;
    justify-content: flex-end;
    /* minh anh thêm để phần tử sát về phải */
}

.login {
    gap: 7px;
    display: flex;
    align-items: center;
}

.login a {
    text-decoration: none;
    padding: 8px 22px;
    border: 2px solid #e0a61f;
    font-size: 15px;
    font-weight: 600;
    border-radius: 20px;
}

.login a:hover {
    background-color: #e0a61f;
    color: white;
    transform: scale(1.05);
}

.contact {
    list-style: none;
    display: flex;
    gap: 15px;
    margin: 0;
    padding: 0;
    align-items: center;
    margin-right: 50px;
}

.contact img {
    width: 40px;
    height: 40px;

}

.contact img:hover {
    transform: scale(1.2);
}

.logo {
    display: flex;
    align-items: center;
    flex: 1;
}

.logo img {
    height: 70px;
}

.facility-detail-section {
    padding: 80px 10%;
    display: flex;
    align-items: center;
    gap: 50px;
}

/* Đảo ngược vị trí ảnh và chữ cho các phần số chẵn */
.facility-detail-section:nth-child(even) {
    flex-direction: row-reverse;
    background-color: #fdfcf9;
}

.facility-img-group {
    flex: 1;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
}

.facility-img-group img {
    width: 100%;
    border-radius: 8px;
    object-fit: cover;
}

.facility-img-group img:first-child {
    grid-column: span 2; /* Ảnh đầu tiên to hơn */
    height: 485px;
}
    /* 2 ảnh nhỏ phía dưới */
.facility-img-group img:not(:first-child) {
    width: 100%;
    height: 180px; /* Cố định để 2 ảnh luôn bằng nhau */
    object-fit: cover;
    border-radius: 12px;
}

        .facility-content {
            flex: 1;
            padding: 5px 0;
        }

        .facility-content h2 {
            color: #b1976b;
            font-size: 2.5rem;
            margin-bottom: 20px;
            text-transform: uppercase;
        }

        .facility-content p {
            line-height: 1.8;
            color: #555;
            font-size: 1.1rem;
            text-align: left;
        }
        .description-list p {
            margin-bottom: 5px; 
        }

        .back-home {
            display: block;
            text-align: center;
            margin: 40px 0;
            color: #b1976b;
            text-decoration: none;
            font-weight: bold;
        }
        footer {
    background: #222;
    color: white;
    padding: 25px;
}

#footer-bottom {
    padding-top: 25px;
    padding-bottom: 10px;
    height: auto;
    text-align: center;
}
