/*
LINH
*/

body{
    margin:0;
    font-family:'Times New Roman', Times, serif;
}

a{
    text-decoration:none;
}

.topbar{
    display:flex;
    justify-content:space-between;
    align-items:center;
    background-color: #fffdf7;
    padding:15px 60px;
}

.language{
    font-size:14px;
    margin-left: 120px;
}

.logo img{
    height:100px;

}

.contact{
    list-style:none;
    display:flex;
    gap:15px;
    margin:0;
    padding:0;
}

.contact img{
    width:50px;
    height:50px;

}
.contact img:hover{
    transform:scale(1.2);
}

.navbar{
    display:flex;
    justify-content:center;
    gap:35px;

    background:#333;
    padding:18px;
    
}

.navbar a{
    color:white;
    font-size:16px;
    transition:0.3s;
}

.navbar a:hover{
    color:#f2b544;
}

.hero{
    height:50vh;
    background:
    linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)),
    url("../IMAGE/banner.png");
    color:white;
    background-size: cover;
    background-position: center;
    position:relative;
}

.hero-text h1{
    font-size:55px;
    margin-bottom:10px;
}

.hero-text p{
    font-size:20px;
}
.box-wrapper{
    display:flex;
    justify-content:center;
}

.booking-box{
    width:70%;
    background:white;
    padding:25px;
    border-radius:8px;
    display:flex;
    justify-content:space-between;
    box-shadow:0 10px 40px rgba(0,0,0,0.15);
    transform: translateY(-50%);
    position:absolute;
}
.booking-form{
    display:flex;
    gap:15px;
    align-items:center;
}

.booking-form input,
.booking-form select{
    padding:12px 14px;
    border:1px solid #ddd;
    border-radius:8px;
    font-size:14px;
    outline:none;
}
.booking-form button{
    padding:12px 24px;
    border:none;
    border-radius:8px;
    background:#e0a61f;
    color:white;
    font-weight:600;
}

.booking-form button:hover{
    background:#cf9e8c;
}

section{
    padding:80px;
    text-align:center;
}
.rooms-section {
    background:#efece5;
}
.rooms{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap:70px;
    width: 100%;
}
.room-card{
    width:30%;
    display: flex;
    justify-content:space-between;
    align-items:center;
}
.room-card img{
    width:100%;
    border-radius:8px;
}

.room-card:hover img{
   transform:scale(1.1);
}
.facilities{
    background:white;
}

.news{
    background:#fffdf7;
}

footer{
    background:#222;
    color:white;

    text-align:center;

    padding:25px;
}